body{
 	background-color: silver;
 	padding: 0;
 	margin: 0;
 	box-sizing:border-box;
 	background:url(.img/colocar a imagem) center;
 	background-repeat:no-repeat;
 	background-size:50%;
}
body,li {
	list-style: none;
}
.conteiner-rodape{

}
.img{
	width:50%;
}

 